.cuerpo{
    background-color: #ca82ca;
}

.menu{
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    transition: ease-in .4s;
    text-decoration: none;
    
}

.info content{
    margin: 0 auto;
}
.perfil{
    padding-top: 20px;
    
    
}

.cv{
    background-color: rgba(240, 248, 255, 0.61);
    cursor: pointer;
}

