.bombilla2{
    outline: solid blue;
    margin-top: 30px;
}

.icon2{
    width: 40px;
    height: 40px;
    rotate: 180deg;
    cursor: pointer;
    margin-top: 200px;
    width: 40px;
    height: 40px;
    outline: solid red;
}

.icon3{
    width: 40px;
    height: 40px;
    cursor: pointer;
    float: right;
    margin-top: 200px;
    width: 40px;
    height: 40px;
    outline: solid red;
}

.herramientas{
    outline: solid yellow;
    display: flex;

    justify-content: space-between;
    margin-left: 80px;
    margin-right: 80px;

}

.html5 {
    width: 145px;
    
}

.csss{
    width: 145px;
}

.java{
    width: 208px;
}


