.bombilla2{
    outline: solid blue;
    margin-top: 20px;
    margin-left: 20px;
    float: left;
}

.h{
    width: 50px;
    float: left;
    margin-left: 20px;
    margin-top: 30px;
    outline: solid blue;
}

.icon2{
    width: 40px;
    rotate: 180deg;
    cursor: pointer;
    position: absolute;
    margin-top: 100px;
    outline: solid red;
    
}

.flecha2{
    width: 40px;
    
}

.icon3{
    width: 40px;
    height: 40px;
    cursor: pointer;
    float: right;
    margin-top: 250px;
    
    outline: solid red;
}

.flecha3{
    width: 40px;
}

.herramientas{
    outline: solid yellow;
    display: flex;
    margin-top: 200px;
    justify-content: space-between;
    margin-left: 80px;
    margin-right: 80px;

}

.html5 {
    width: 145px;
    
}

.csss{
    width: 145px;
}

.java{
    width: 208px;
}


