.bombilla2{
    outline: solid blue;
    margin-top: 30px;
}

.flecha2{
    margin-top: 100px;
    width: 40px;
    height: 40px;
}

.icon2{
    width: 40px;
    height: 40px;
    rotate: 180deg;
    cursor: pointer;
}

.flecha3{
    float: right;
    margin-top: 100px;
    width: 40px;
    height: 40px;
    outline: solid red;
}

.icon3{
    width: 40px;
    height: 40px;
    cursor: pointer;
}

.herramientas{
    outline: solid yellow;
    display: flex;
    
    justify-content: space-between;
    margin-left: 80px;
    margin-right: 80px;

}

.iconos{
    width: 80px;
    display: flex;
    margin-left: 80px;
    margin-right: 80px;
    outline: solid black;
}

.html5 {
    width: 145px;
    padding-right: 250px;
}

.csss{
    width: 145px;
}

.java{
    width: 208px;
}


